body {
  font-family: "Open Sans", sans-serif;
  color: #ecf4fc;
  background-image: url(../img/bukitbintang.jpeg);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(241, 235, 233, 0.7);
  color: rgb(247, 247, 247);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
}

#overlay-content {
  max-width: 500px;
  padding: 30px;
  background-color: rgb(13, 3, 15);
  border-radius: 10px;
}

#cancel-btn {
  background-color: #ffffff;
  color: #531e1e;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media query untuk perangkat seluler (lebar maksimum 600px) */
@media screen and (max-width: 600px) {
  #overlay-content {
    max-width: 50%;
    padding: 15px;
    font-size: 12px;
  }

  #cancel-btn {
    padding: 8px;
  }
}
